</div><!--/.col-xs-6.col-lg-4-->
            <!--/.col-xs-6.col-lg-4-->
          </div><!--/row-->
        </div><!--/.col-xs-12.col-sm-9-->

        <div class="col-xs-6 col-sm-3 sidebar-offcanvas" id="sidebar">
          <div class="list-group">
         <a href='/home/intro'class="list-group-item{% if page.current == 'Foreword' %} active{% endif %}">Foreword</a>
         <a href='/home/section1'class="list-group-item{% if page.current == 'Two forces moulded you' %} active{% endif %}">Two forces moulded you</a>
         <a href='/home/section2'class="list-group-item{% if page.current == 'dearer to the simple heart' %} active{% endif %}">dearer to the simple heart</a>
         <a href='/home/section3'class="list-group-item{% if page.current == 'The price you paid' %} active{% endif %}">The price you paid</a>
         <a href='/home/section4'class="list-group-item{% if page.current == 'No place for fear and hatred' %} active{% endif %}">
No place for fear and hatred</a>
         <a href='/home/section5'class="list-group-item{% if page.current == 'Cornered but not isolated' %} active{% endif %}">Cornered but not isolated</a>
         <a href='/home/section6'class="list-group-item{% if page.current == 'Your bet , yourself alone' %} active{% endif %}">Your bet , yourself alone</a>
         <a href='/home/section7'class="list-group-item{% if page.current == 'Failed to read the Chinese scheme' %} active{% endif %}">Failed to read the Chinese scheme</a>
         <a href='/home/section8'class="list-group-item{% if page.current == 'Viswaroopam of the New Age' %} active{% endif %}">Viswaroopam of the New Age</a>
         <a href='/home/section9'class="list-group-item{% if page.current == 'Not for the profit Goddess' %} active{% endif %}">Not for the profit Goddess</a>
         <a href='/home/section10'class="list-group-item{% if page.current == 'Changes the unjust social order' %} active{% endif %}">Changes the unjust social order</a>
         <a href='/home/section11'class="list-group-item{% if page.current == 'Your fore-thought and vision' %} active{% endif %}">Your fore-thought and vision</a>
         <a href='/home/section12'class="list-group-item{% if page.current == 'Five year plans' %} active{% endif %}">Five year plans</a>
         <a href='/home/section13'class="list-group-item{% if page.current == 'Pakistan , a tool for others' %} active{% endif %}">Pakistan , a tool for others</a>
         <a href='/home/section14'class="list-group-item{% if page.current == 'Non - aligned movement' %} active{% endif %}">Non - aligned movement</a>
         <a href='/home/section15'class="list-group-item{% if page.current == 'Section 15' %} active{% endif %}">Bharathi's ideal</a>
         <a href='/home/section16'class="list-group-item{% if page.current == 'Section 16' %} active{% endif %}">Parliamentary democracy</a>
         <a href='/home/section17'class="list-group-item{% if page.current == 'Section 17' %} active{% endif %}">Democrats are fearless</a>
         <a href='/home/section18'class="list-group-item{% if page.current == 'Section 18' %} active{% endif %}">Being a unifying force</a>
         <a href='/home/section19'class="list-group-item{% if page.current == 'Section 19' %} active{% endif %}">
Sakthi Goddess in the social temples</a>
         <a href='/home/section20'class="list-group-item{% if page.current == 'Section 20' %} active{% endif %}">Your socialistic tendency</a>
         <a href='/home/section21'class="list-group-item{% if page.current == 'Section 21' %} active{% endif %}">With peace and development</a>
         <a href='/home/section22'class="list-group-item{% if page.current == 'Section 22' %} active{% endif %}">Memorable awards</a>
         <a href='/home/section23'class="list-group-item{% if page.current == 'Section 23' %} active{% endif %}">Promises to keep</a>
         <a href='/home/section24'class="list-group-item{% if page.current == 'Section 24' %} active{% endif %}">
A well considered move</a>
         <a href='/home/section25'class="list-group-item{% if page.current == 'Section 25' %} active{% endif %}">For the future India</a>
          </div>
        </div><!--/.sidebar-offcanvas-->
      </div><!--/row-->



    <!-- Bootstrap core JavaScript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->

    <!-- IE10 viewport hack for Surface/desktop Windows 8 bug -->
    